# Node artifacts
node_modules/
npm-debug.log

# Compiled output
dist/
*.js
*.js.map
*.css
*.css.map

# Log files
logs/

# IDE/Editor specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Environment variables
.env
.env.prod

.angular/
