header,
footer {
  display: flex;
  background-color: #f8f9fa;
  text-align: center;
  padding: 1rem;
  background-color: #2eba3c;
}

footer {
  justify-content: center;
}

main {
  margin: 20px;
}

main {
  flex-grow: 1;
}

.logo {
  float: left;
}

.nav-center {
  display: inline-block;
  margin: 0 auto;
}

.logout {
  float: right;
}

.icone {
  display: flex;
  text-align: center;
}

a {
  margin-right: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}