<navbar></navbar>
<sidebar></sidebar>


<div *ngIf="tipoTela == 2" class="container-base">

    <div class="content-page">
        <div class="card-header">
            <div class="header-info-2">
                <div class="card-header">
                    <div class="card-title"> Cadastro de Usuarios </div>
                    <div (click)="ListaUsuariosUsuario()" class="card-menu"> Listagem de Usuarios </div>
                </div>
            </div>
        </div>

        <form class="form-page" [formGroup]="UsuarioForm" (submit)="enviar()">

            <div class="row">
                <div class="group-row">
                    <label>Email</label>
                    <input type="text" name="Email" id="Email" placeholder="Email" formControlName="Email" required />
                    <label class="error-input" *ngIf="UsuarioForm.get('Email')?.errors?.['required'] &&
                    UsuarioForm.get('Email')?.touched">
                        Campo Obrigatório!
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="group-row">
                    <label>CPF</label>
                    <input type="text" name="CPF" id="CPF" placeholder="CPF" formControlName="CPF" required />
                    <label class="error-input" *ngIf="UsuarioForm.get('CPF')?.errors?.['required'] &&
                    UsuarioForm.get('CPF')?.touched">
                        Campo Obrigatório!
                    </label>
                </div>
            </div>

            <div class="row" *ngIf="!this.itemEdicao">
                <div class="group-row">
                    <label>Senha</label>
                    <input type="password" name="Senha" id="Senha" placeholder="Senha" formControlName="Senha"
                        required />
                    <label class="error-input" *ngIf="UsuarioForm.get('Senha')?.errors?.['required'] &&
                    UsuarioForm.get('Senha')?.touched">
                        Campo Obrigatório!
                    </label>
                </div>
            </div>


            <div class="row">
                <div class="group-row">
                    <input type="submit" value="Salvar" class="btn-primary" />
                </div>
            </div>

        </form>



    </div>

</div>

<div *ngIf="tipoTela == 1" class="container-base">

    <div class="content-page">

        <div class="header-info-2">
            <div class="card-header">
                <div class="card-title"> Listagem de Usuarios </div>
                <div (click)="cadastro()" class="card-menu"> Cadastro de Usuarios </div>
            </div>


            <table cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <!-- <td></td> -->
                        <td>Código</td>
                        <td>Email</td>
                        <td>Ação</td>

                    </tr>
                </thead>
                <tbody>
                    <tr class="select-item" *ngFor="let item of tableListUsuarios | paginate: config; let i = index"
                        class="linha-table" [ngClass]="{'linha-cinza' : i % 2 == 0, 'linha-branca' : i % 2 !== 0}">

                        <td>{{item.UserId}}</td>
                        <td>{{item.Email}}</td>
                        <td (click)="edicao(item)"> Edit</td>

                    </tr>
                </tbody>
            </table>

            <div class="tabela-footer" *ngIf="paginacao && tableListUsuarios">
                <label class="mostrar">Mostrar</label>
                <ng-select (change)="mudarItemsPorPage()" [(ngModel)]="itemsPorPagina" [clearable]="false"
                    [searchable]="false" class="mostrar-drop">
                    <ng-option [value]="10">10</ng-option>
                    <ng-option [value]="50">50</ng-option>
                    <ng-option [value]="100">100</ng-option>
                </ng-select>

                <div class="container-pagination">
                    <pagination-controls id="{{this.id}}" previousLabel="Anterior" nextLabel="Próximo"
                        [responsive]="true" (pageChange)="mudarPage($event)">
                    </pagination-controls>
                </div>
            </div>

        </div>

    </div>

</div>