<navbar></navbar>
<sidebar></sidebar>


<div *ngIf="tipoTela == 2" class="container-base">

    <div class="content-page">
        <div class="card-header">
            <div class="header-info-2">
                <div class="card-header">
                    <div class="card-title"> Cadastro de Sistemas </div>
                    <div (click)="ListaSistemasUsuario()" class="card-menu"> Listagem de Sistemas </div>
                </div>
            </div>
        </div>

        <form class="form-page" [formGroup]="sistemaForm" (submit)="enviar()">

            <div class="row">
                <div class="group-row">
                    <label>Sistema</label>
                    <input type="text" name="name" id="name" placeholder="Nome" formControlName="name" required />
                    <label class="error-input" *ngIf="sistemaForm.get('name')?.errors?.['required'] &&
                    sistemaForm.get('name')?.touched">
                        Campo Obrigatório!
                    </label>
                </div>
            </div>


            <div class="row">
                <div class="group-row">
                    <label>Mes Sistema</label>
                    <input type="number" name="Mes" id="mes" placeholder="Mes" formControlName="mes" required />
                    <label class="error-input" *ngIf="sistemaForm.get('mes')?.errors?.['required'] &&
                    sistemaForm.get('mes')?.touched">
                        Campo Obrigatório!
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="group-row">
                    <label>Ano Sistema</label>
                    <input type="number" name="ano" id="ano" placeholder="Ano" formControlName="ano" required />
                    <label class="error-input" *ngIf="sistemaForm.get('ano')?.errors?.['required'] &&
                    sistemaForm.get('ano')?.touched">
                        Campo Obrigatório!
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="group-row">
                    <label>Dia Inicio Mes</label>
                    <input type="number" name="diaFechamento" id="diaFechamento" placeholder="DiaFechamento"
                        formControlName="diaFechamento" required />
                    <label>Sistema só trabalha com dia 1</label>
                    <label class="error-input" *ngIf="sistemaForm.get('diaFechamento')?.errors?.['required'] &&
                    sistemaForm.get('diaFechamento')?.touched">
                        Campo Obrigatório!
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="group-row">
                    <label>Mes Copia</label>
                    <input type="number" name="mesCopia" id="mesCopia" placeholder="mesCopia" formControlName="mesCopia"
                        required />
                    <label class="error-input" *ngIf="sistemaForm.get('mesCopia')?.errors?.['required'] &&
                    sistemaForm.get('mesCopia')?.touched">
                        Campo Obrigatório!
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="group-row">
                    <label>Ano Copia</label>
                    <input type="number" name="anoCopia" id="anoCopia" placeholder="Ano Copia"
                        formControlName="anoCopia" required />
                    <label class="error-input" *ngIf="sistemaForm.get('anoCopia')?.errors?.['required'] &&
                    sistemaForm.get('anoCopia')?.touched">
                        Campo Obrigatório!
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="group-row">

                    <mat-slide-toggle class="group-slide" [color]="gerarCopiaDespesa" [checked]="checked"
                        [disabled]="disabled" (change)="handleChangePago($event)">
                        Gerar Copia das Despesas?
                    </mat-slide-toggle>

                </div>
            </div>



            <div class="row">
                <div class="group-row">
                    <input type="submit" value="Salvar" class="btn-primary" />
                </div>
            </div>

        </form>


        <div class="container-list-user"
            *ngIf="tipoTela ==2 && this.itemEdicao && this.itemEdicao.Id > 0 && tableListUsuariosistema">

            <div class="content-page">
                <div class="card-header">
                    <div class="header-info-2">
                        <div class="card-header">
                            <div class="card-title"> Lista de usuários do Sistema</div>
                        </div>
                    </div>
                </div>

                <div class="form-page">

                    <div class="row">
                        <div class="group-row">
                            <label>Informe o E-mail para add usuário no sistema</label>
                            <input type="text" name="email" id="email"  [(ngModel)]="emailUsuarioSistema" placeholder="E-mail"  />
                            <label class="error-input" *ngIf="!emailUsuarioSistemaValid">
                        {{textValid}}
                            </label>
                        </div>
                    </div>

                    <div class="row">
    
                        <div class="group-row">
                            <input type="submit" value="Add" class="btn-primary" (click)="addUsuarioSistema()" />
                        </div>
                        
                    </div>

                    <table cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <!-- <td></td> -->
                                <td>Código</td>
                                <td>Nome</td>
                               <td>Ação</td> 
            
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="select-item" *ngFor="let item of tableListUsuariosistema | paginate: config2; let i = index"
                                class="linha-table" [ngClass]="{'linha-cinza' : i % 2 == 0, 'linha-branca' : i % 2 !== 0}">
            
                                <td>{{item.Id}}</td>
                                <td>{{item.EmailUsuario}}</td>
            
                                <td (click)="excluir(item.Id)" > Excluir</td> 
            
                            </tr>
                        </tbody>
                    </table>
            
                    <div class="tabela-footer" *ngIf="paginacao2 && tableListUsuariosistema">
                        <label class="mostrar">Mostrar</label>
                        <ng-select (change)="mudarItemsPorPage2()" [(ngModel)]="itemsPorPagina2" [clearable]="false"
                            [searchable]="false" class="mostrar-drop">
                            <ng-option [value]="10">10</ng-option>
                            <ng-option [value]="50">50</ng-option>
                            <ng-option [value]="100">100</ng-option>
                        </ng-select>
            
                        <div class="container-pagination">
                            <pagination-controls id="{{this.id2}}" previousLabel="Anterior" nextLabel="Próximo"
                                [responsive]="true" (pageChange)="mudarPage2($event)">
                            </pagination-controls>
                        </div>
                    </div>


                </div>


            </div>

        </div>


    </div>

</div>

<div *ngIf="tipoTela == 1" class="container-base">

    <div class="content-page">

        <div class="header-info-2">
            <div class="card-header">
                <div class="card-title"> Listagem de Sistemas </div>
                <div (click)="cadastro()" class="card-menu"> Cadastro de Sistemas </div>
            </div>


            <table cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <!-- <td></td> -->
                        <td>Código</td>
                        <td>Nome</td>
                        <td>Ação</td>

                    </tr>
                </thead>
                <tbody>
                    <tr class="select-item" *ngFor="let item of tableListSistemas | paginate: config; let i = index"
                        class="linha-table" [ngClass]="{'linha-cinza' : i % 2 == 0, 'linha-branca' : i % 2 !== 0}">

                        <td>{{item.Id}}</td>
                        <td>{{item.Nome}}</td>

                        <td (click)="edicao(item.Id)"> Edit</td>

                    </tr>
                </tbody>
            </table>

            <div class="tabela-footer" *ngIf="paginacao && tableListSistemas">
                <label class="mostrar">Mostrar</label>
                <ng-select (change)="mudarItemsPorPage()" [(ngModel)]="itemsPorPagina" [clearable]="false"
                    [searchable]="false" class="mostrar-drop">
                    <ng-option [value]="10">10</ng-option>
                    <ng-option [value]="50">50</ng-option>
                    <ng-option [value]="100">100</ng-option>
                </ng-select>

                <div class="container-pagination">
                    <pagination-controls id="{{this.id}}" previousLabel="Anterior" nextLabel="Próximo"
                        [responsive]="true" (pageChange)="mudarPage($event)">
                    </pagination-controls>
                </div>
            </div>

        </div>

    </div>

</div>